* {box-sizing: border-box;}

@media (min-width: 414px){
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "head"
  "hr"
  "textbox"
  "pic"
  "logorund"
  "footer";
  }
}

@media (min-width: 828px){
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "head head head head head"
  "hr hr hr hr hr"
  "textbox textbox pic pic pic"
	". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logorund . . . . . . . . . nav nav"
  "logorund . head head head head head head head head . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
  ". . textbox textbox textbox textbox pic pic pic pic pic ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.main-head {
  grid-area: head;
  font-size: 60px;
  text-align: center;
  font-family: Georgia, Verdana, sans-serif;
}

.main-nav{
  grid-area: nav;
  font-size: 20px;
  text-align: left;
  font-family: Georgia, Verdana, sans-serif;
}

.logorund{
  grid-area: logorund;
}

.rund{
  width: 100%
}

hr{
  grid-area: hr;
  border: 1px solid black;
  width: 100%;
  background-color: black;
}

.textbox{
  grid-area: textbox;
  height: 100%;
  font-size: 30px;
  padding: 20px;
  /*border: 3px solid black;*/
}

.footer{
  grid-area: footer;
  border-top: 3px solid black;
	font-size: 20px;
  font-family: Georgia, Verdana, sans-serif;
  text-align: center;
}

.picture{
  grid-area: pic;
}

.profil{
  width: 100%;
}

body{
  background-color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
}

@media (min-width: 414px){
.wrapper2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "head"
  "hr"
  "pro1"
  "pro2"
  "pro3"
  "pro4"
  "pro5"
  "pro6"
  "logorund"
  "footer";
  }
}


@media (min-width: 828px){
.wrapper2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "head head head head head"
  "hr hr hr hr hr"
  ". pro1 pro1 pro1 ."
  ". pro2 pro2 pro2 ."
  ". pro3 pro3 pro3 ."
  ". pro4 pro4 pro4 ."
  ". pro5 pro5 pro5 ."
  ". pro6 pro6 pro6 ."
  ". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper2{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logorund . . . . . . . . . nav nav"
  "logorund . head head head head head head head head . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
  ". . pro1 pro1 pro1 pro1 pro2 pro2 pro2 pro2 . ."
  ". . pro3 pro3 pro3 pro3 pro4 pro4 pro4 pro4 . ."
  ". . pro5 pro5 pro5 pro5 pro6 pro6 pro6 pro6 . ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

a{
  text-decoration: none;
}

.projekt1{
  position: relative;
  grid-area: pro1;
}

.projekt_1{
  display: block;
  width: 100%;
}

.overlay1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay1:hover {
  opacity: 1;
}

.img_title1{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.img_descripition1{
  font-size: 30px;
  color: white;
  text-align: center;
}

.projekt2{
  position: relative;
  grid-area: pro2;
}

.projekt_2{
  display: block;
  width: 100%;
}

.overlay2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay2:hover {
  opacity: 1;
}


.img_title2{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.img_descripition2{
  font-size: 30px;
  color: white;
  text-align: center;
}

.projekt3{
  position: relative;
  grid-area: pro3;
}

.projekt_3{
  display: block;
  width: 100%;
}

.overlay3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay3:hover {
  opacity: 1;
}

.img_title3{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.img_descripition3{
  font-size: 30px;
  color: white;
  text-align: center;
}

.projekt4{
  position: relative;
  grid-area: pro4;
}

.projekt_4{
  display: block;
  width: 100%;
}

.overlay4{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay4:hover {
  opacity: 1;
}

.img_title4{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.img_descripition4{
  font-size: 30px;
  color: white;
  text-align: center;
}

.projekt5{
  position: relative;
  grid-area: pro5;
}

.projekt_5{
  display: block;
  width: 100%;
}

.overlay5{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay5:hover {
  opacity: 1;
}

.img_title5{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.img_descripition5{
  font-size: 30px;
  color: white;
  text-align: center;
}

.projekt6{
  position: relative;
  grid-area: pro6;
}

.projekt_6{
  display: block;
  width: 100%;
}

.overlay6{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay6:hover {
  opacity: 1;
}

.img_title6{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.img_descripition6{
  font-size: 30px;
  color: white;
  text-align: center;
}

@media (min-width: 414px){
.wrapper3-p1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "pro1-heading"
  "hr"
  "pro1-text1"
  "for-text"
  "for"
  "efter-text"
  "efter"
  "pro1-text2"
  "logorund"
  "footer";
  }
}

@media (min-width: 828px){
.wrapper3-p1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "pro1-heading pro1-heading pro1-heading pro1-heading pro1-heading"
  "hr hr hr hr hr"
	"pro1-text1 pro1-text1 pro1-text1 pro1-text1 pro1-text1"
  "for-text for-text . efter-text efter-text"
	"for for . efter efter"
	"pro1-text2 pro1-text2 pro1-text2 pro1-text2 pro1-text2"
  ". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper3-p1 {
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logorund . . . . . . . . . nav nav"
  "logorund . pro1-heading pro1-heading pro1-heading pro1-heading pro1-heading pro1-heading pro1-heading pro1-heading . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
	". pro1-text1 pro1-text1 pro1-text1 pro1-text1 pro1-text1 pro1-text1 pro1-text1 pro1-text1 pro1-text1 pro1-text1 ."
	". . . for-text . . . . efter-text . . ."
	". for for for for for efter efter efter efter efter ."
	". pro1-text2 pro1-text2 pro1-text2 pro1-text2 pro1-text2 pro1-text2 pro1-text2 pro1-text2 pro1-text2 pro1-text2 ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.pro1-heading {
	grid-area: pro1-heading;
	font-size: 60px;
  text-align: center;
  font-family: Georgia, Verdana, sans-serif;
}

.pro1-text1{
	grid-area: pro1-text1;
	/*border: 3px solid black;*/
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 25px;
}

.pro1-text2{
	grid-area: pro1-text2;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 25px;
}

.for-text {
	grid-area: for-text;
	text-align: center;
	font-family: Georgia, Verdana, sans-serif;
	font-size: 30px;
}

.efter-text {
	grid-area: efter-text;
	text-align: center;
	font-family: Georgia, Verdana, sans-serif;
	font-size: 30px;
}

.for {
	grid-area: for;
}

.ringstedfor {
	width: 100%;
}

.efter {
	grid-area: efter;
}

.ringstedefter {
	width: 100%;
}

@media (min-width: 414px){
.wrapper3-p2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "pro2-heading"
  "hr"
  "pro2-text1"
  "tegnet"
  "printet"
  "logorund"
  "footer";
  }
}

@media (min-width: 828px){
.wrapper3-p2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "pro2-heading pro2-heading pro2-heading pro2-heading pro2-heading"
  "hr hr hr hr hr"
	"pro2-text1 pro2-text1 pro2-text1 pro2-text1 pro2-text1"
  "tegnet tegnet . printet printet"
  ". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper3-p2{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logorund . . . . . . . . . nav nav"
  "logorund . pro2-heading pro2-heading pro2-heading pro2-heading pro2-heading pro2-heading pro2-heading pro2-heading . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
	". pro2-text1 pro2-text1 pro2-text1 pro2-text1 pro2-text1 pro2-text1 pro2-text1 pro2-text1 pro2-text1 pro2-text1 ."
	". . tegnet tegnet tegnet . . printet printet printet . ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.pro2-heading {
	grid-area: pro2-heading;
	font-size: 60px;
  text-align: center;
  font-family: Georgia, Verdana, sans-serif;
}

.pro2-text1{
	grid-area: pro2-text1;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 25px;
}

.alegras-tegnet {
	grid-area: tegnet;
}

.tegnet {
	width: 100%;
}

.alegras3d {
	grid-area: printet;
}

.printet {
	width: 100%;
}

@media (min-width: 414px){
.wrapper3-p3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "pro3-heading"
  "hr"
  "pro3-text1"
  "selvportrat"
  "antonbillede"
  "logorund"
  "footer";
  }
}

@media (min-width: 828px){
.wrapper3-p3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "pro3-heading pro3-heading pro3-heading pro3-heading pro3-heading"
  "hr hr hr hr hr"
	"pro3-text1 pro3-text1 pro3-text1 pro3-text1 pro3-text1"
  ". selvportrat selvportrat selvportrat ."
  ". antonbillede antonbillede antonbillede ."
  ". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper3-p3{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logorund . . . . . . . . . nav nav"
  "logorund . pro3-heading pro3-heading pro3-heading pro3-heading pro3-heading pro3-heading pro3-heading pro3-heading . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
	". pro3-text1 pro3-text1 pro3-text1 pro3-text1 pro3-text1 pro3-text1 pro3-text1 pro3-text1 pro3-text1 pro3-text1 ."
	". . . selvportrat selvportrat selvportrat selvportrat selvportrat selvportrat . . ."
  ". . . antonbillede antonbillede antonbillede antonbillede antonbillede antonbillede . . ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.pro3-heading {
	grid-area: pro3-heading;
	font-size: 60px;
  text-align: center;
  font-family: Georgia, Verdana, sans-serif;
}

.pro3-text1{
	grid-area: pro3-text1;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 25px;
}

.pentool {
	grid-area: selvportrat;
}

.selvportrat {
	width: 100%;
}

.antonbillede {
  grid-area: antonbillede;
}

.antonpen {
  width: 100%;
}

@media (min-width: 414px){
.wrapper3-p4 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "pro4-heading"
  "hr"
  "pro4-text1"
  "pro-animation"
  "logorund"
  "footer";
  }
}

@media (min-width: 828px){
.wrapper3-p4 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "pro4-heading pro4-heading pro4-heading pro4-heading pro4-heading"
  "hr hr hr hr hr"
	"pro4-text1 pro4-text1 pro4-text1 pro4-text1 pro4-text1"
  ". pro-animation pro-animation pro-animation ."
  ". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper3-p4{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logorund . . . . . . . . . nav nav"
  "logorund . pro4-heading pro4-heading pro4-heading pro4-heading pro4-heading pro4-heading pro4-heading pro4-heading . ."
	"hr hr hr hr hr hr hr hr hr hr hr hr"
	". pro4-text1 pro4-text1 pro4-text1 pro4-text1 pro4-text1 pro4-text1 pro4-text1 pro4-text1 pro4-text1 pro4-text1 ."
	". . . . pro-animation pro-animation . . . . . ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.pro4-heading {
	grid-area: pro4-heading;
	font-size: 60px;
  text-align: center;
  font-family: Georgia, Verdana, sans-serif;
}

.pro4-text1{
	grid-area: pro4-text1;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 25px;
}

.pro-animation {
	background: url(animation4.png) 0 0 no-repeat;
	width: 500px;
  height: 500px;
    animation: play 1.5s steps(29) infinite alternate;
	grid-area: pro-animation;
}

@keyframes play {
    0% {background-position: 0px; }
    100% {background-position: -14500px;}
}

@media (min-width: 414px){
.wrapper3-p5 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "pro5-heading"
  "hr"
  "pro5-text1"
  "kaktus"
  "logorund"
  "footer";
  }
}

@media (min-width: 828px){
.wrapper3-p5 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "pro5-heading pro5-heading pro5-heading pro5-heading pro5-heading"
  "hr hr hr hr hr"
	"pro5-text1 pro5-text1 pro5-text1 pro5-text1 pro5-text1"
  ". kaktus kaktus kaktus ."
  ". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper3-p5{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logorund . . . . . . . . . nav nav"
  "logorund . pro5-heading pro5-heading pro5-heading pro5-heading pro5-heading pro5-heading pro5-heading pro5-heading . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
	". pro5-text1 pro5-text1 pro5-text1 pro5-text1 pro5-text1 pro5-text1 pro5-text1 pro5-text1 pro5-text1 pro5-text1 ."
	". . . . kaktus kaktus kaktus kaktus . . . ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.pro5-heading {
	grid-area: pro5-heading;
	font-size: 60px;
  text-align: center;
  font-family: Georgia, Verdana, sans-serif;
}

.pro5-text1 {
	grid-area: pro5-text1;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 25px;
}

.kaktus {
	grid-area: kaktus;
}

.monster {
	width: 100%;
}

@media (min-width: 414px){
.wrapper3-p6 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "pro6-heading"
  "hr"
  "pro6-text1"
  "kendama"
	"kenudenfor"
	"landskab"
	"portratudenfor"
  "logorund"
  "footer";
  }
}

@media (min-width: 828px){
.wrapper3-p6 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "pro6-heading pro6-heading pro6-heading pro6-heading pro6-heading"
  "hr hr hr hr hr"
	"pro6-text1 pro6-text1 pro6-text1 pro6-text1 pro6-text1"
  ". kendama kendama kendama ."
	". kenudenfor kenudenfor kenudenfor ."
	". landskab landskab landskab ."
	". portratudenfor portratudenfor portratudenfor ."
  ". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper3-p6{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logorund . . . . . . . . . nav nav"
  "logorund . pro6-heading pro6-heading pro6-heading pro6-heading pro6-heading pro6-heading pro6-heading pro6-heading . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
	". pro6-text1 pro6-text1 pro6-text1 pro6-text1 pro6-text1 pro6-text1 pro6-text1 pro6-text1 pro6-text1 pro6-text1 ."
	". . . kendama kendama kendama kendama kendama kendama . . ."
	". . . kenudenfor kenudenfor kenudenfor kenudenfor kenudenfor kenudenfor . . ."
	". . . landskab landskab landskab landskab landskab landskab . . ."
	". . . portratudenfor portratudenfor portratudenfor portratudenfor portratudenfor portratudenfor . . ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.pro6-heading {
	grid-area: pro6-heading;
	font-size: 60px;
  text-align: center;
  font-family: Georgia, Verdana, sans-serif;
}

.pro6-text1 {
	grid-area: pro6-text1;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 25px;
}

.kendama {
	grid-area: kendama;
}

.kendamaprodukt {
	width: 100%;
}

.kendamaudenfor {
	grid-area: kenudenfor;
}

.udenfor {
	width: 100%;
}

.landskabsbillede{
	grid-area: landskab;
}

.landskab {
	width: 100%;
}

.Portrat-udenfor {
	grid-area: portratudenfor;
}

.udendorsportrat {
	width: 100%;
}

/*https://www.youtube.com/watch?v=exb2ab72Xhs
projekt billeder 400px x 300px*/
