* {box-sizing: border-box;}

@media (min-width: 414px){
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-row: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "head"
  "hr"
  "textbox"
  "pic"
  "logorund"
  "footer";
  }
}

@media (min-width: 828px){
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "head head head head head"
  "hr hr hr hr hr"
  ". . logorund . ."
  "textbox textbox pic pic pic"
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.wrapper{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . . . . . . . nav nav nav"
  "logorund . head head head head head head head head . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
  ". . textbox textbox textbox textbox pic pic pic pic pic ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}
.main-head {
  grid-area: head;
  font-size: 60px;
  text-align: center;
  margin-top: auto;
  font-family: 'Courier New', monospace;
}

.main-nav{
  grid-area: nav;
  font-size: 20px;
  text-align: left;
  font-family: 'Courier New', monospace;
}

.logorund{
  grid-area: logorund;
}

.rund{
  width: 100%
}

hr{
  grid-area: hr;
  border: 1px solid black;
  width: 100%;
  background-color: black;
}

.textbox{
  grid-area: textbox;
  height: 100%;
  font-size: 30px;
  padding: 20px;
  border: 5px solid black;
}

.footer{
  grid-area: footer;
  background-color: blue;
  border: 2px solid black;
  height: 50px;
  text-align: center;
}

.picture{
  grid-area: pic;
}

.profil{
  width: 100%;
}

body{
  background-color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
}

@media (min-width: 414px){
.box {
  display: grid;
  grid-gap: 20px;
  grid-row: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "head"
  "hr"
  "pro1"
  "pro2"
  "pro3"
  "pro4"
  "pro5"
  "pro6"
  "logorund"
  "footer";
  }
}


@media (min-width: 828px){
.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . nav nav"
  "head head head head head"
  "hr hr hr hr hr"
  ". pro1 pro1 pro1 ."
  ". pro2 pro2 pro2 ."
  ". pro3 pro3 pro3 ."
  ". pro4 pro4 pro4 ."
  ". pro5 pro5 pro5 ."
  ". pro6 pro6 pro6 ."
  ". . logorund . ."
  "footer footer footer footer footer";
  }
}

@media (min-width: 1024px){
.box{
  max-width: 1940px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . . . . . . . . nav nav nav"
  "logorund . head head head head head head head head . ."
  "hr hr hr hr hr hr hr hr hr hr hr hr"
  ". . pro1 pro1 pro1 pro1 pro2 pro2 pro2 pro2 . ."
  ". . pro3 pro3 pro3 pro3 pro4 pro4 pro4 pro4 . ."
  ". . pro5 pro5 pro5 pro5 pro6 pro6 pro6 pro6 . ."
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.projekt1{
  position: relative;
  grid-area: pro1;
}

.projekt_1{
  display: block;
  width: 100%;
}

.overlay1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay1:hover {
  opacity: 1;
}

.img_title1{
  font-size: 40px;
  font-weight: bold;
}

.img_descripition1{
  font-size: 30px;
}

.projekt2{
  position: relative;
  grid-area: pro2;
}

.projekt_2{
  display: block;
  width: 100%;
}

.overlay2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay2:hover {
  opacity: 1;
}

.img_title2{
  font-size: 40px;
  font-weight: bold;
}

.img_descripition2{
  font-size: 30px;
}

.projekt3{
  grid-area: pro3;
  background-color: blue;
  height: 300px;
}

.projekt4{
  grid-area: pro4;
  background-color: orange;
  height: 300px;
}

.projekt5{
  grid-area: pro5;
  background-color: lightgreen;
  height: 300px;
}

.projekt6{
  grid-area: pro6;
  background-color: lightyellow;
  height: 300px;
}

/*https://www.youtube.com/watch?v=exb2ab72Xhs
projekt billeder 400px x 300px*/
